
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: 'Rubik', sans-serif;

}

/* Estilos para la barra de navegación */
.ctboton {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.titulo {
    margin: 0;
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
}

.boton1,
.boton3 {
    text-decoration: none;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
}

.boton1 {
    background-color: #4CAF50;
    font-family: 'Rubik', sans-serif;

}

.boton3 {
    background-color: #2196F3;
    font-family: 'Rubik', sans-serif;
    color: black;

}

/* Estilos para la tabla de usuarios */
.tablad {
    margin: 20px;
    overflow-x: auto;
    font-family: 'Rubik', sans-serif;

}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Rubik', sans-serif;

}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    
}

.til {
    background-color: #f2f2f2;
    color: #333;
}

.usuario,
.correo,
.editar,
.eliminar {
    width: 20%;
    font-family: 'Rubik', sans-serif;

}

/* Estilos para los formularios de edición y asignación de roles */
form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Rubik', sans-serif;

}

input[type="text"],
input[type="email"],
select {
    margin-bottom: 10px;
    flex: 1;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: 'Rubik', sans-serif;

}

.btacsearch{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2195f3;
    color: rgb(0, 0, 0);
    font-family: 'Rubik', sans-serif;
}











.btac {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2195f3;
    color: white;
    font-family: 'Rubik', sans-serif;

    
}

.btacDelete{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f32121;
    color: white;
    font-family: 'Rubik', sans-serif;

    
}

/* Estilos para la ventana emergente de ayuda */
#ventanaEmergente {
    display: none;
    font-family: 'Rubik', sans-serif;
}

/* Estilos para el botón de ayuda */
.ayudita {
    padding: 10px 20px;
    background-color: #FFC107;
    color: #333;
    border: 2px solid #FFC107;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    font-family: 'Rubik', sans-serif;

}

.ayudita:hover {
    background-color: #FFEB3B;
    color: #333;
    border-color: #FFEB3B;
    font-family: 'Rubik', sans-serif;

}
.similar-table {
    margin: 20px;
    overflow-x: auto;
    font-family: 'Rubik', sans-serif;
}

.similar-table table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Rubik', sans-serif;
}

.similar-table th,
.similar-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.similar-til {
    background-color: #f2f2f2;
    color: #333;
}



@media screen and (max-width: 768px) {
    .ctboton {
        flex-direction: column; 
        align-items: flex-start;
    }
    
    .boton1,
    .boton3 {
        margin-top: 10px; 
    }
    
    .usuario,
    .correo,
    .editar,
    .eliminar {
        width: auto; 
    }
}


@media screen and (max-width: 768px) {
    .boton1,
    .boton3 {
        width: 100%; /* En dispositivos más pequeños, ocuparán todo el ancho disponible */
        margin-right: 0; /* Elimino el margen derecho en dispositivos más pequeños */
        margin-bottom: 5px; /* Reduzco el margen inferior para un espacio más compacto */
    }
}