*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

} 
body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #0000ff,#2dacec);
    position: relative; }

 .titulo{
    color:white;
    font-size:60px;
    font-weight: 500;
    position: absolute;
    top:20%;
    left:5%;
}

/* tabla */

.tablad {
width: 90%;
position:absolute;
left:5%;
top:25%;
}

th, td {
padding: 8px;
text-align: left;
} 
.correo{
    padding: 1%;
    width:23%;
}
.usuario{
    padding:1%;
    width:8%;
}
.editar{
    padding:1%;
    width:44%;
}

tbody tr {
background-color: rgb(171, 171, 171);
}

tbody tr:hover {
background-color: rgba(255, 255, 255, 0.411);
}

thead th {
background-color: rgb(0, 0, 132);
color: white;
}
.til{
    color: white;
}

 input[type="text"],
input[type="password"],
input[type="email"]{
padding: 8px;
background: #F2F2F2;
font-size: 18px;
border-radius:6px;
outline:none;
border:none;
margin-right: 10px;
}
.btac{
    padding:10px;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 6px;
    background-color: white;
    color: black;
    border: 2px solid #0704d3;
    font-weight: 650;
 }
 
 .btac:hover{
    background:rgb(0, 26, 255);
    color:white;
    border: 2px solid  rgb(255, 255, 255);
 }
 .btac:active{
 background:rgb(26, 26, 26);
 }
 .user{
    font-size:20px;
 }
 /* roles */
 select {
    padding: 10px;
    border-radius: 6px;
    background-color: white;
    color: black;
    border: 2px solid #0704d3;
    font-weight: 650;
    cursor: pointer;
}
option {
    font-size: 16px;
} 
.ctboton{
    padding: 4%;
    background:linear-gradient(black,transparent);
    top:0;
    width:100%;
    left:0%;
    position: absolute;
}
.boton1{ 
    padding:0.6% 2%;
    border: 2px solid white;
    background: transparent;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
    border-radius:6px;
    font-size:18px;
    font-weight:600;
    position: absolute;
    top:32%;
    left:64%;
    text-decoration: none;
} 

.boton3{
    padding:0.6% 2%;
    border: 2px solid white;
    background: transparent;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
    border-radius:6px;
    font-size:18px;
    font-weight:600;
    position: absolute;
    top:32%;
    left:43%;
    text-decoration: none;
} 
a:hover{
    background: rgba(255, 255, 255, 0.829);
    color:rgb(0, 12, 176);
}
.ayudita{
    padding:0.6% 2%;
    border: 2px solid white;
    background: transparent;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
    border-radius:6px;
    font-size:18px;
    font-weight:600;
    position: absolute;
    text-decoration: none;
    top:32%;
    left:53%;
 }
 .ayudita:hover{
    background: rgba(255, 255, 255, 0.829);
    color:rgb(0, 12, 176);
}
/* ayuda */
#ventanaEmergente {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    justify-content: center;
    align-items: center;
    z-index:50;
  }


  .ayuda-box {
    border-radius: 6px;
    width: 590px;
    height: 515px;
    backdrop-filter: blur(3px);
   background:rgba(255, 255, 255, 0.789);
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    overflow: scroll;
  }
  
 .texto1{
   font-size:30px;
   font-weight: 600;
   margin-top:-7%;
   text-align: center;
   position: relative;
 }
 
 .texto2{
    font-weight: 400;
    margin-top:5%;
    font-size:20px;
    position: relative;

 }
 .texto3{
   font-size:30px;
   font-weight: 600;
   margin-top:5%;
   text-align: center;
   position: relative;

 }
 .texto4{
   font-weight: 400;
   margin-top:5%;
   font-size:20px;
   position: relative;

} 
.texto5{
   font-size:30px;
   font-weight: 600;
   margin-top:5%;
   text-align: center;
   position: relative;

 }
 .texto6{
   font-weight: 400;
   margin-top:5%;
   font-size:20px;
   position: relative;

} 