/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: 'Rubik', sans-serif;
}

/* Estilos para la barra de navegación */
.ctboton {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.titulo {
    margin: 0;
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
}

.boton1,
.boton3 {
    text-decoration: none;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
}

.boton1 {
    background-color: #4CAF50;
}

.boton3 {
    background-color: #2196F3;
    color: black;
}

/* Estilos para la tabla de usuarios */
.similar-table {
    margin: 20px;
    overflow-x: auto;
    font-family: 'Rubik', sans-serif;
}

.similar-table table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Rubik', sans-serif;
}

.similar-table th,
.similar-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.btnguardar
{
    background-color: #2196F3;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button[type="submit"] {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: red;
    color: white;
}

    .comentario {
        border-bottom: 1px solid #ccc; /* Agrega un borde inferior */
        padding-bottom: 10px; /* Añade espacio entre cada comentario */
        margin-bottom: 15px; /* También puede añadir margen inferior */
    }
