body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: rgb(0, 12, 176);
    color: #fff;
    text-align: center;
    padding: 1em;
}

.forum {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 50px;
    border-radius: 4px;
}



footer {
    background-color: rgba(2, 2, 111, 0.1); 
    padding: 20px;
    text-align: center;
    border-top: 1px solid #fff;
    margin-top: 20px;
}

form {
    max-width: 175px;
    margin: 0 auto;
}

label, input, textarea {

    display: block;
    margin-bottom: 10px;
}

button {
    background-color: rgb(0, 12, 176);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color:rgb(36, 47, 199);
}






.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 800px;
    margin: 20px auto;
}

.card {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
    width: 45%; /* Ajusta el ancho según tus necesidades */
    box-sizing: border-box;
}
.author {
    font-style: italic;
    color: #b2afaf;
}
.card h2 {
    color: #05151f;
}

.card p {
    color: #333;
}

@media screen and (max-width: 600px) {
    .card {
        width: 100%;
    }
}


