
*{
   margin: 5px;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   font-family: 'Roboto', sans-serif;
}

body{
   background:url(../img/editbus.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
}
.textoo{
   position: absolute;
   color: white;
   top: 40%;
}

main{
   width: 100%;
   padding: 20px;
   margin: auto;
   margin-top: 100px;
}

.contenedor__todo{
   width: 100%;
   max-width: 800px;
   margin: auto;
   position: relative;
}

.caja__trasera{
   width: 100%;
   padding: 10px 20px;
   display: flex;
   justify-content: center;
   -webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px);
   background-color: rgba(0, 128, 255, 0.334);
   border-radius:6px;
}

.caja__trasera div{
   margin: 100px 40px;
   color: white;
   transition: all 500ms;
}


.caja__trasera div p,
.caja__trasera button{
   margin-top: 30px;
}

.caja__trasera div h3{
   font-weight: 400;
   font-size: 26px;
}

.caja__trasera div p{
   font-size: 16px;
   font-weight: 300;
}

.caja__trasera button{
   padding: 10px 40px;
   border: 2px solid #fff;
   font-size: 14px;
   background: transparent;
   font-weight: 600;
   cursor: pointer;
   color: white;
   outline: none;
   transition: all 300ms;
   border-radius:6px;
}

.caja__trasera button:hover{
   background: #fff;
   color:rgb(0, 12, 176);
   
}
.caja__trasera button:active{
   background:rgb(57, 55, 58);
   color:white;
 }

/*Formularios*/

.contenedor__login-register{
   display: flex;
   text-align: center;
   width: 100%;
   max-width: 380px;
   position: relative;
   top: -510px;
   left: 10px;
   transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form{
   width: 100%;
   padding: 70px 20px;
   backdrop-filter: blur(4px);
   background:rgba(255, 255, 255, 0.678);
   position: absolute;
   border-radius: 6px;

}

.contenedor__login-register form h2{
   font-size: 32px;
   text-align: center;
   margin-bottom: 20px;
   color: rgb(0, 12, 176);
}

.contenedor__login-register form input{
   width: 100%;
   margin-top: 20px;
   padding: 10px;
   border: none;
   background: #F2F2F2;
   font-size: 16px;
   outline: none;
   border-radius:6px;
}
.btnayu {
   padding: 9px 40px;
   transition-duration: 0.4s;
   cursor: pointer;
   border-radius: 8px;
   background-color: white;
   color: rgb(0, 12, 176);
   border: 2px solid rgb(0, 12, 176);
   font-weight: 650;
   margin-top:2%;
}
.btnayu:hover{
   background:rgba(0, 26, 255, 0.873);
   color:white;
   border: 2px solid  rgb(255, 255, 255);

}
.btnayu:active{
   background:rgb(57, 55, 58);
 }

.formulario__login{
   opacity: 1;
   display: block;
}
.formulario__register{
   display: none;
}
.formulario__login .proyecto{
   width: 200px;
   height: 200px;
   margin: 20px 20px;/*AQUI*/
   position:relative;
   
}
.formulario__login label {
   margin: 7px;
   padding:5px ;
   font-weight: bold;
   display: block;

}

.olvido{
   text-decoration: none;
  font-size: 16px;
  line-height: 12px;
  color: rgb(0, 12, 176); 
}
  .olvido:hover{
  color: rgb(16, 17, 17);
  }
  


@media screen and (max-width: 850px){

   main{
       margin-top: 50px;
   }

   .caja__trasera{
       max-width: 350px;
       height: 300px;
       flex-direction: column;
       margin: auto;
   }

   .caja__trasera div{
       margin: 0px;
       position: absolute;
   }


   /*Formularios*/

   .contenedor__login-register{
       top: -10px;
       left: -5px;
       margin: auto;
   }

   .contenedor__login-register form{
       position: relative;
   }
}